/*
  WordPress class overrides
*/

.has-extra-small-font-size{
  font-size: $font-size-extra-small;
}
.has-small-font-size{
  font-size: $font-size-small;
}
.has-normal-font-size{
  font-size: $font-size-normal;
}
.has-medium-font-size{
  font-size: $font-size-medium;
}
.has-large-font-size{
  font-size: $font-size-large;
}
.has-extra-large-font-size{
  font-size: $font-size-extra-large;
}
.has-huge-font-size{
  font-size: $font-size-huge;
}

.has-color-main-color{
  color: $color-main;
}
.has-color-alt-1-color{
  color: $color-alt;
}
.has-color-alt-2-color{
  color: $color-alt-2;
}
.has-color-alt-3-color{
  color: $color-alt-3;
}
.has-color-alt-4-color{
  color: $color-light-gray;
}
.has-black-color{
  color: #000;
}
.has-white-color{
  color: #fff;
}

.has-color-main-background-color{
  background-color: $color-main;
}
.has-color-alt-1-background-color{
  background-color: $color-alt-1;
}
.has-color-alt-2-background-color{
  background-color: $color-alt-2;
}
.has-color-alt-3-background-color{
  background-color: $color-alt-3;
}
.has-color-alt-4-background-color{
  background-color: $color-alt-4;
}
.has-black-background-color{
  background-color: #000;
}
.has-white-background-color{
  background-color: #fff;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
.left{
  margin-right: auto;
}
.right{
  margin-left: auto;
}